{% extends "layout/base.html" %}
{% block content %}      
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Profil</h1>
            <ol class="breadcrumb" style="margin-bottom: 5px;">
              <li class="active">Beranda</li>
            </ol>
            <br />
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Hi, {{ request.session.username }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="foto-karyawan" style="width:200px; height:200px;  margin-bottom:50px;margin-top:20px; margin-left: auto; margin-right: auto;overflow-y:hidden;">
                                <img src="/static/{{ karyawan.foto }}" style="width:200px; "/>
                                <button id="ganti-foto-button" class="btn btn-primary btn-xm" style="position:absolute;top:23px;margin-left:3px;display:none;" data-toggle="modal" data-target="#gantiFotoModal"><i class="fa fa-photo"></i> Ganti</button>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Nama</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.nama }}</td>
                                        </tr>
                                        <tr>
                                            <td>Alamat</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.alamat }}</td>
                                        </tr>
                                        <tr>
                                            <td>Jenis Kelamin</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.jenis_kelamin }}</td>
                                        </tr>
                                        <tr>
                                            <td>Jenis Karyawan</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.jenis_karyawan }}</td>
                                        </tr>
                                        <tr>
                                            <td>No. Telepon</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.no_telepon }}</td>
                                        </tr>
                                        <tr>
                                            <td>E-mail</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>No. Rekening</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.no_rekening }}</td>
                                        </tr>
                                        <tr>
                                            <td>Pemilik Rekening</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.pemilik_rekening }}</td>
                                        </tr>
                                        <tr>
                                            <td>Divisi</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.divisi.nama }}</td>
                                        </tr>
                                        <tr>
                                            <td>Jabatan</td>
                                            <td style="width:10px;">:</td>
                                            <td>{{ karyawan.jabatan.nama }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->

    <!-- Modal -->
    <div class="modal fade" id="gantiFotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/ganti_foto/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Ganti Foto</h4>
                    </div>
                    <div class="modal-body">
                        <p>Pilih foto yang Anda sukai..</p>
                        <input type="file" name="files" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                        <input type="submit" class="btn btn-primary" value="Upload" />
                    </div>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <script src="/static/vendors/sb-admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#foto-karyawan').mouseover(function(){
                $('#ganti-foto-button').css('display', 'block');
            }).mouseleave(function(){
                $('#ganti-foto-button').fadeOut();
            });
        });
    </script>
{% endblock %}